.scores div{
    display: inline-block;
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#scoreCard {
    display: flex;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winMsg {
    margin-top: 20px;
}