body {
    background-color: #c2cad0;
    color: #7e6850;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scores div{
    display: inline-block;
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#scoreCard {
    display: flex;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winMsg {
    margin-top: 10px;
}

.pButton {
    width: 100px;
    padding: 10px 30px;
    margin: 10px;
    border: solid;
    border-color: #7e6850;
    background-color: #afd275;
    color: #7e6850;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#pSelections {
    display: flex;
}